* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*The boxes on this webpage are border boxes with no padding  */
}

body {
    background-color: #a3a3a3;
    /* background color of the body of the webpage */
}

.header {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(rgb(112, 112, 112), black);
    /*the header background is a gradient ot make the page look a little nicer*/
    color: #ffffff;
    margin-bottom: 10px;
    /* the font, color, and space around the header*/
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    /* This controls the positioning and space around the header of the webpage as a whole */
}

.header div ul {
    list-style-type: none;
    /*the list style type for the header is specified as none */
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
    /* this controls the location of the links at the top of the website */
}

a {
    color: #ffffff;
    text-decoration: none;
    /* This controls the appearance of the links at the top of the webpage, it makes them white */
}

p {
    font-size: 25px;
    /* This controls the size of text inside paragraphs*/
}

.float-left {
    float: left;
    margin-right: 25px;
    /* this is the float settings that are applied to the contact image*/

}


.About-Me {
    display: flex;
    flex-direction: column;
    text-align: center;
    /*these flex/display settings center the work column in order to keep it organized in the center of the webpage*/
    font-size: 20px;
    margin-bottom: 20px;
    padding: 50px;
    height: auto;
    /*this keeps the height of the box consistent with the content in the box*/
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(90, 90, 90);
    color: #fdfdfd;
    /* This controls the visual settings of the appearance and organization of the work box along with the text inside of it */
}

.Work {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /*these flex/display settings center the work column in order to keep it organized in the center of the webpage*/
    padding: 50px;
    height: auto;
    /*this keeps the height of the box consistent with the content in the box*/
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(184, 184, 184);
    color: #000000;
    /* This controls the visual settings of the appearance and organization of the work box along with the text inside of it */
}

.Work p
{
margin-bottom: 40px;
/*margin to keep the paragraphs in the work section looking good*/

}

.Work h3
{
    font-size: 30px;
    /*changed the font size on the headers for each project in work*/
}

.Contact {
    margin-bottom: 20px;
    padding: 50px;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(73, 73, 73);
    color: #ffffff;
    /* This controls the box that contains the social media marketing text image and header. Specifically the fonts, height, background color, margins, and text color */
}

.Contact p
{
    margin-left: 50px;
    /*a margin to the left of the paragraph in the contact section*/
}

.About-Me img {
    height: auto;
    margin: 20px;
    border: 10px;
    border-color: #d9dcd6;
    border-style: solid;
    max-width: 41%;
    min-width: 300px;
    /* the min width settings keep the image a consistent size no matter the page size, */
    margin-left: auto;
    margin-right: auto;
    /*the auto left amd right margins keep it centered*/
    margin-bottom: 40px;
    /* the about me image settings. that controls the border around it and the margins for the blank space around it */
}

#prework {
    height:auto;
    border: 8px;
    max-width: 55%;
    min-width: 350px;
    border-color: #000000;
    border-style: solid;
    margin-bottom: 30px;
    /*these are the settings for the prework screenshot, the height is specified here because it is supposed to be bigger than the other screenshots. the max width is larger here in order to increase image size compared to the horiseon screenshot, and the width is a percentage to keep it uniform with the size of the page and readable no matter the webpage size*/
}

#horiseon {
    height:auto;
    border: 8px;
    max-width: 45%;
    min-width: 300px;
    border-color: #000000;
    border-style: solid;
    margin-bottom: 30px;
    /*these are the settings for the horiseon screenshot. the height is different from the prework picture so the width settings are different here*/
}



.Work img {
    min-width: 30%;
    /*the min width is a percentage to keep it uniform with the size of the page and readable no matter the webpage size*/
    margin-left: auto;
    margin-right: auto;
    border-color: #000000;
    border-style: solid;
    border: 10px;
    /* these are the settings for the images in the work section, the margin settings being auto and the minimum width makes it so that the pictures stay centered and and at a decent viewijng size no matter the window size. The border makes it look somwhat better than just an image suspended in the page */
}

.About-Me h2 {
    margin-bottom: 20px;
    font-size: 36px;
    /* margin below the headers in the about-me section to keep the visuals nice, and the font size to keep it readable */
}

.Work h2 {
    margin-bottom: 20px;
    font-size: 36px;
    /* margin below the headers in the work section to keep the visuals nice, and the font size to keep it readable */
}

.Contact h2 {
    margin-bottom: 20px;
    font-size: 36px;
    /* the space below the header in the contact in order to keep the section not cluttered, and the size of the font */
}
.Contact img
{
    margin-bottom: 20px;
    width: 120px;
    border-style: solid;
    border-color: #000000;

    /* this puts a margin below the image in the contact section for spacing purposes, and controls the width of the image in order to prevemt it from being too large and going over the edge of the contact section */
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    /* Padding, fonts, and text alignment for the footer section */
}

.footer h2 {
    font-size: 20px;
    /* This is footer heading font size */
}
/*  */